* {
  margin: 0;
}

.App {
  text-align: center;
}

#left_bar{
  width: 17%;
  height: 100%;
  position: fixed;
  background-color: aqua;
}

#main {
  display: flex;
  justify-content: center;
}

.main_head ul {
  display: flex;
}

.main_head ul li {
  list-style: none;
}